---
import BaseLayout from "../layouts/baseLayout.astro";
import BlogPost from "../components/blogPost.astro";
const pageTitle = "My Astro Learning Blog";
const allPosts = await Astro.glob('./posts/*.md');

---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>

  <ul>
    {allPosts.map((post) => <BlogPost title = {post.frontmatter.title} url = {post.url} />)}
  </ul>
</BaseLayout>
